html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-center {
    text-align:center !important;
}

.header-right {
    text-align:right !important;
}

.btn-style {
    background-color: #fd8558;
    color: #fff;

    padding: 8px 35px;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;

    transition: .2s;
}

.btn-style:hover {
    background-color: #904429;
}

.container {
    max-width: 1190px;
    margin: 0 auto;

    padding: 0 10px;
}

/*header*/

.header {
    background-color: #fff;
    color: #222222;
}

.header__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 10px;

    margin: 0 auto;
    max-width: 1280px;
    min-height: 70px;

    column-gap: 20px;
}
.header__logo {
    text-transform: lowercase;
    font-weight: 700;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 1.1px;
    cursor: pointer;
}

.menu__icon {
    display: none;
    cursor: pointer;
    position: relative;

    width: 30px;
    height: 18px;
}

.menu__icon span,
.menu__icon::after,
.menu__icon::before {
    left: 0;
    position: absolute;
    
    height: 10%;
    width: 100%;
    background-color: #000; 

    transition: .2s;
}

.menu__icon::before,
.menu__icon::after {
    content: "";
}
.menu__icon::after {
    bottom: 0;
}
.menu__icon::before {
    top: 0;
}

.menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.menu__list {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.menu__list > li {
    text-align: center;
}
.menu__link {
    text-transform: lowercase;
    font-size: 15px;
    line-height: 1px;
    letter-spacing: 0.2px;
    white-space: nowrap;

    transition: .2s;
}

.menu__link:hover {
    color: #fd8558;
}

@media (max-width: 767.98px) {

    .header__menu {
        display: grid;
    }

    .header__container {
        grid-template-columns: 1fr 1fr;
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__icon._active + .menu__body {
        display: block;

        transform: translateX(0px);
    }

    .menu__icon + .menu__body {
        display: block;

        top: 70px;
        left: 0;

        position: absolute;
        width: 100vw;
        height: 100vh;
        background: #fff;
        z-index: 100;
        transform: translateX(-200%);

        transition: .5s;
    }

    .menu__list {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .menu__icon{
        display: block; 
        justify-self: flex-end;
    }

    .menu__link {
        text-transform: lowercase;
        font-size: 25px;
        line-height: 50px;
        letter-spacing: 1.5px;
    
        transition: .2s;
    }
}

/*preview*/

.main {
    flex: 1 0 auto;
}
.preview {
    background-image: url(./img/bg.svg);
    background-size: 100% 100%;
    aspect-ratio: 8/4.67;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.preview__container {
    max-width: 700px;
    margin: 0 auto;
}
.preview__header {
    color: #fff;

    font-size: 70px;
    line-height: 85px;
    text-align: center;
}

.preview__buttons {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    width: 100%;
}

.preview__start-btn {
    margin: 20px;
}

.preview__see-btn {
    margin: 20px;

    border: 2px solid #fd8558;
    background-color: transparent;

    padding: 8px 35px;
    color: #fff;
    
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;

    transition: .2s;
}

.preview__see-btn:hover {
    color: #fff;
    background-color: #fd8558;
}

@media (max-width: 575.98px) {
    .preview__header {
        font-size: 40px;
        line-height: 60px;
    }

    .btn-style {
        padding: 4px 25px;
        font-size: 15px;
    }

    .preview__see-btn {
        padding: 4px 25px;
        font-size: 15px;
    }

}   

@media (max-width: 420px) {
    .preview__header {
        font-size: 20px;
        line-height: 30px;
    }

    .btn-style {
        padding: 4px 10px;
        font-size: 13px;
    }

    .preview__see-btn {
        padding: 4px 10px;
        font-size: 13px;
    }
} 

/*about section*/

.about {
    margin: 30px 0;
}

.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    column-gap: 80px;
    row-gap: 60px;
    margin-top: 20px;
}

.about__header {
    display: inline-block;
    width: 100%;

    text-align: left;

    font-size: 150px;
    line-height: 145px;
    letter-spacing: 0.1px;

    color: #f7f7f7;
}

.article__centered {
    justify-content: center !important;
    align-items: center;
}

.about__article {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 20px;
}
.article__header {
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fd8558;
}
.article__description {
    font-size: 40px;
    line-height: 54px;
    color: #333333;
    text-transform: capitalize;
}
.article__sub-description {
    line-height: 26px;
    color: #999;
}
.about__description {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.description__header {
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #222222;
}
.description__description {
    font-size: 15px;
    line-height: 26px;
    color: #999;
}
.about__image {
    margin-left: 60px;
    max-width: 100%;
}
.about__quote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 60px;
}
.quote__quote {
    margin: 30px 0;

    font-style: italic;
    font-size: 26px;
    line-height: 45px;
    color: #222222;
}
.quote__marker {
    color: #fd8558;
}
.quote__author {
    font-size: 20px;
    line-height: 20px;
    color: #222222;
}
.quote__proffecion {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.8px;
    color: #cacaca;
}
.about__soft-skills {
    margin: 70px 0;
    grid-column: 1 / 3;
}
.soft-skills__list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}
.soft-skills__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.soft-skills__icon {
    max-width: 100%;
}
.soft-skills__header {
    font-size: 24px;
    line-height: 38px;
    color: #333333;
    margin: 10px 0;
    text-align: center;
}
.soft-skills__description {
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #999;
}
.about__underline {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto 200px auto;
}
.underline__underline {
    height: 2px;
    width: 100%;
    background: #f5f5f5;
}
.underline__circle {
    width: 80px;
    height: 80px;
    background: rgba(253, 133, 88, 0.2);
    border-radius: 40px;

    margin: 0 10px;
}
@media (max-width: 991.98px) {
    .about__header {
        font-size: 120px;
    } 
}

@media (max-width: 767.98px) { 
    .about__header {
        font-size: 90px;
    } 

    .soft-skills__list {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
        align-items: center;
        width: 100%;
    }

    .soft-skills__item {
        max-width: 400px;
        margin: 0 auto;
    }

    .about__container {
        grid-template-columns: 1fr;
    }

    .about__soft-skills {
        grid-column: 1;
    }

    .about__image {
        margin-left: 0;
        justify-self: center;
    }

    .about__quote {
        margin-left: 0;
    }
}

@media (max-width: 575.98px) { 
    .about__header {
        font-size: 60px;
    } 

}

@media (max-width: 420px) {
    .about__header {
        font-size: 40px;
    } 
}

/*works section*/

.works {
}
.works__article .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.works__article .container .about__article {

    max-width: 400px;
}

.works__container {
    
}
.works__works-body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.works-body__item:nth-child(2) {
    height: 100%;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.works__background1 {
    background-image: url(./img/product1.jpg);
}
.works__background2 {
    background-image: url(./img/product2.jpg);
}
.works__background3 {
    background-image: url(./img/product3.jpg);
}
.works__background4 {
    background-image: url(./img/product4.jpg);
}
.works__background5 {
    background-image: url(./img/product5.jpg);
}

.works-body__item {
    background-size: 100% 100%;
    aspect-ratio: 1;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;

}

.works-body__billet {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.works-body__name {
    font-size: 24px;
    line-height: 33px;
    color: #222222;
}
.works-body__check {
    width: 45px;
    height: 45px;
    border: 1px solid #222;
    background-color: #fff;
}

@media (max-width: 801px) { 
    .works__works-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .works-body__item:nth-child(2) {
        height: 100%;
        grid-column: 1 / span 2;
    }
}

@media (max-width: 575.98px) { 
    .works__article .container {
        flex-direction:column;
        justify-content:center;
        align-items: flex-start;
    }

    .works-body__check {
        width: 20px;
        height: 20px;
    }
    .works-body__name {
        font-size: 18px;
        line-height: 15px;
    }

    .works-body__billet {
        padding: 10px;
    }
}

@media (max-width: 420px) {

}

/*skills*/

.skills {
    margin: 100px 0;
}

.skills .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;

    align-items: center;
}
.skills__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.skills__item {
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.skills__border {
    position: relative;
    height: 10px;
    width: 600px;
    max-width: 100%;
    background-color: #eee;
}
.skills__name {
    position: absolute;
    left: 0;
    top: -30px;

    font-size: 18px;
    line-height: 25px;
    color: #222;
}
.skills__level {
    z-index: 10;
    height: 10px;
    position: absolute;
    background: linear-gradient(90deg,#ff4803, #ffae35);
    left: 0;
    top: 0;
}

.skills__level-width1 {
    max-width: 540px;
    width: 100%;
}
.skills__level-width2 {
    max-width: 480px;
    width: 100%;
}
.skills__level-width3 {
    max-width: 570px;
    width: 100%;
}

.skills__percentage {
    position: absolute;
    right: 0;
    top: -30px;

    font-size: 15px;
    line-height: 23px;
    color: #999;
}

@media (max-width: 991.98px) {
    .skills .container {
        grid-template-columns:none;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 767.98px) { 
    .skills__border {
        width: 100%;
        max-width: 600px;
    }
}

/*team section*/

.team {
    margin: 100px 0;
}

.team .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    gap: 25px;
}
.team__body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 25px;
}
.team__item {
    background-size: 100% 100%;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team__img1 {
    background-image: url(./img/team1.jpg);
}
.team__img2 {
    background-image: url(./img/team2.jpg);
}
.team__img3 {
    background-image: url(./img/team3.jpg);
}
.team__img4 {
    background-image: url(./img/team4.jpg);
}
.team__img5 {
    background-image: url(./img/team5.jpg);
}
.team__img6 {
    background-image: url(./img/team6.jpg);
}
.team__name {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
.team__role {
    line-height: 24px;
    text-align: center;
    color: #fcfcfc;
}

@media (max-width: 575.98px) { 
    .team__body {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    
        gap: 10px;
    }
}

@media (max-width: 420px) {
    .team__name {
        font-size: 18px;
        line-height: 30px;

    }
    .team__role {
        line-height: 14px;
    }
}

/*testimonials section*/

.testimonials {
    background-color: #3a0f73;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;
    padding: 100px 0;
}
.testimonials__description {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2px;

    max-width: 790px;
    color: #fff;
}
.testimonials__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.testimonials__icon {
    width: 100%;
}
.testimonials__info {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.testimonials__name {
    white-space: nowrap;
    line-height: 22px;
    text-align: left;
}
.testimonials__role {
    font-size: 13px;
    line-height: 22px;
    text-align: left;
}

.testimonials__header {
    color: rgba(170, 170, 170, 0.1);
}

/*news section*/
.news {
    margin: 100px 0;
}
.news__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}
.news__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.news__img {
    width: 100%;
}
.news__tags {
    width: 100%;
}
.news__tag {
    font-size: 15px;
    line-height: 21px;
    color: #fd8558;
}

.news__tag:not(:last-child) {
    margin-right: 10px;
}

.news__date::before {
    z-index: 10;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: rgba(223, 222, 222, 1);
    width: 5px;
    height: 5px;

    top: 50%;
    transform: translate(0px, -50%);
}

.news__date {
    position: relative;
    line-height: 21px;
    color: #999;
    padding: 0 0 0 10px;
}
.news__description {
    font-size: 24px;
    line-height: 33px;
    color: #222222;
    flex: 1 0 auto;
}
.news__more,
.news__more:visited {
    font-size: 15px;
    line-height: 21px;
    color: #fd8558;
}

@media (max-width: 767.98px) {
    .news__list {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
    }

    .news__list {
        
        gap: 50px;
    }

    .news__description {
        flex: none;
    }
}

@media (max-width: 420px) {
    .news__item {
        gap: 10px;
    }
}

/*feedback section*/

.feedback {
    margin: 100px 0;
}
.feedback .container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.feedback__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.feedback__info-item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.feedback__info-header {
    line-height: 20px;
    letter-spacing: 2px;
    color: rgba(34, 34, 34, 0.4);
}
.feedback__info-description {
    font-size: 24px;
    line-height: 33px;
    color: #222222;
}

.feedback__requisites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.requisites__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 25px;
}

.requisites__input:last-child {
    width: 100%;
    resize:vertical;
    grid-column: 1 / span 2;
}

.requisites__input {
    font-size: 14px;
    line-height: 21px;
    color: #999;
    padding: 20px;
    background: #fff;
    border: 1px solid #eee;
    width: 100%;
}

@media (max-width: 991.98px) {
    .feedback .container {
        flex-direction: column;
        align-items: center;
    }

    .feedback__info {
        flex-direction: row;
    }
}

@media (max-width: 767.98px) {

    .requisites__container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: none;
        width: 100%;
    }

    .requisites__input:last-child {
        grid-column: 1;
    }

    .feedback__requisites {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .feedback__info {
        flex-direction: column;
    }

    .requisites__input {
        padding: 10px;
        line-height: 10px;
    }
}

/*footer*/

.footer {
    background-color: #111;
    padding: 100px 0;
}
.footer__container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 50px;
}
.footer__body {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;

    column-gap: 10rem;
}
.footer__info {
    display: grid;
    row-gap: 20px;
    grid-template-rows: 1fr 1fr;
}
.info {
}
.info__logo {
    color: #fff;
    font-size: 40px;
    line-height: 52px;
}
.info__container {
    font-family: 'Open Sans';
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}
.info__phone {
    font-size: 15px;
}
.info__mail {
}
.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.links {
}
.links__body {
}
.links__header {
    color: #fff;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 10px;
}
.links__list {
}
.links__item {
    margin-bottom: 5px;
}
.links__link {
    line-height: 20px;
}

.links__link:visited {
    color: #bababa;
}
.footer__license {
    text-align: center;
}
.license {
}
.license__description {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #bababa;
}
.license__author {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;

    color: #fff;
}

@media (max-width: 991.98px) {
    .footer__body {
        grid-template-columns: 1fr;
    }

    .footer__links {
        justify-content: space-around;
    }

    .footer__info {
        justify-content: center;
    }

    .info__logo {
        text-align: center;
    }

    .about__underline {
        margin: 40px 10px;
    }
}

@media (max-width: 575.98px) {
    .footer__links {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    section {
        margin: 0 !important;
    }
}

